* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 100%;
}

:root {
    --clr-white: #ffffff;
    --clr-gray: #7f7f7f;
    --clr-black: #000000;

    --bg-light-gray: #e8e5e480;
    --bg-white: #ffffff;

    --fs-regular: 0.9rem;
    --fs-heading-1: 4.5rem;
    --fs-heading-2: 2.3rem;
}

a {
    font-size: var(--fs-regular);
    color: var(--clr-black);
    display: inline-block;
    cursor: pointer;
}

body {
    font-size: var(--fs-regular);
}

/* utility classes */

.m-auto {
    margin: auto;
}

#main {
    max-width: 70vw;
    height: 100vh;
}

@media (width < 700px) {
    * {
        cursor: default;
    }

    :root {
        --fs-regular: 0.9rem;
        --fs-heading-1: 2.2rem;
        --fs-heading-2: 1.8rem;
    }

    #main {
        max-width: 90vw;
    }
}

/* navigation bar */

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-light-gray);
    backdrop-filter: blur(12px);
    padding: 5px;
    border-radius: 50px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.nav-link {
    --padding-y: 0.8rem;
    --padding-x: 1.8rem;
    padding: var(--padding-y) var(--padding-x);
    border-radius: 45px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: var(--bg-white);
}

.nav-link:first-child {
    background-color: var(--bg-white);
}

/* Hero Section */

.hero {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-heading {
    width: 60%;
    font-size: var(--fs-heading-1);
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 1.3;
    text-align: center;
}

@media (width < 1400px) {
    .hero-heading {
        width: 100%;
    }
}

.hero-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3%;
}

.hero-menu .item {
    background-color: var(--bg-light-gray);
    padding: 0.5rem 1rem;
    border-radius: 50px;
}

@media (width < 700px) {
    .hero-menu {
        display: none;
    }
}

/* Images Section */

.images-section {
    padding-block: 22vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;
}

@media (width < 1000px) {
    .images-section {
        grid-template-columns: 1fr;
    }
}

.img-box {
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.img-box .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    padding: 4%;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.img-box:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.img-name {
    color: var(--clr-white);
    font-size: calc(var(--fs-regular) + 5px);
}

.img-box .circle {
    width: 50px;
    height: 50px;
    display: block;
    background-color: var(--bg-white);
    padding: 5px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-40%, 40%);
    transition: 0.5s;
}

.img-box:hover .circle {
    opacity: 1;
    transform: translate(0);
}

.img-box .circle img {
    width: 50%;
}

/* Let's work together */

.bottom-heading * {
    font-size: var(--fs-heading-2);
    text-align: center;
    font-weight: normal;
}

.bottom-heading a {
    display: block;
    opacity: 0.6;
}

/* footer section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20vh;
    padding-block: 3vh;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-left img {
    width: 4%;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-link {
    transition: 0.2s;
}

.social-link:hover {
    color: var(--clr-gray);
}

@media (width < 700px) {

    .footer,
    .footer-left {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .footer-left img {
        width: 8%;
    }
}